@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    
}

img{
    width: 100%;
    display: flex;
}

.image{
    position: relative;
}

.image img{
    margin: auto;
}

p{
    color:white;
    text-align: justify;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: large;
}


body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient( to bottom, #1E152A 60%, #152a1f );
}

body::-webkit-scrollbar {
    width: 12px;             
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.377);  
    border-radius: 20px;    
}


h1,h2,h3,h4,h5{
    color: white;
}


nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    justify-content:center;
    text-align: center;
    background-color:  rgb(40, 33, 59, .2);
    backdrop-filter: blur(10px);
    z-index: 100;
    border-bottom: solid 1px #ccc;
}

nav a{
    margin-left: auto;
}

nav .logoff{
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    margin-left: 17.5rem;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links a{
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    box-shadow: 0px 10px 40px -12px #fff;
    transition:  0.2s ease;
    z-index: 102;
}

.nav-links a:hover, .logoff:hover{
    color: #77ff02;
    box-shadow: 0px 10px 40px -10px #00ff8052;
    z-index: 102;
}

.container{
    padding-top: 10%;
    max-width: 1200px;
    margin: auto;
}

.apresentation .blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #8105df;
    z-index: -100;
}

header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .apresentation{
    margin: auto;
}

header .apresentation h4{
    margin-bottom: 1rem;
    color: #f3f3f3;
    font-size: 1rem;
    font-weight: 600;
}

header .apresentation h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
}

header .apresentation h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #77ff02;
}

header .apresentation p{
    margin-bottom: 2rem;
    color: #f3f3f3;
}

.part-two{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}


.part-two .blur{
    position:absolute;
    box-shadow: 0 0 1000px 50px #18fe24;
    z-index: -100;
    justify-self: end;
    margin-bottom: 200px;
}

.text h3{
    margin-bottom: 1rem;
    color: #f3f3f3;
    font-size: 1rem;
    font-weight: 600;
}

.text  h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    text-transform: uppercase;
}

.text h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #8c06f3;
}

.text  p{
    margin-bottom: 2rem;
    color: #f3f3f3;
}

.features{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.features .card{
    display: flex;
    flex-direction: column;
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
    text-align: center;
}

.features ul{
    list-style-type: disc;
    color:white;
    margin: auto;
    padding: 1rem;
}

.card-top{
    margin-bottom: 0.8rem;
}

.card-top h4{
    margin-top: 0.5rem;
}

.features .card:hover{
    background-color:  #a125ff4b;
    border-color: #fff;
}

.features .card span{
    max-width: 45px;
    max-height: 45px;
    background-color: #a125ff4b ;
    padding: 2px 9px;
    margin-top: 5rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.features .card h4{
    text-align: center;
    justify-self: center;
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.features .card p{
    text-align: justify;
    color: #ccc;
    margin-bottom: 1rem;
}

.features .card a{
    color: #fff;
    transition: all 0.3s ease;
}

.features .card a:hover{
    color: #18fe24;
}

.features .blur{
    position:absolute;
    box-shadow: 0 0 1000px 50px #02ff30;
    z-index: -100;
}

.features .blur2{
    position:absolute;
    box-shadow: 0 0 1000px 50px #8105df;
    z-index: -100;
    justify-self: end;
    margin-top: 400px;
}

.post-features{
    margin-top: 4rem;
}

.post-features p{
    color: white;
}

.part-three .blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #8105df;
    z-index: -100;
}

.part-three{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.part-three h3{
    text-align: right;
    margin-bottom: 1.5rem;
    color: #f3f3f3;
    font-size: 1rem;
    font-weight: 600;
}

.part-three h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 2.9rem;
    font-weight: 700;
    line-height: 3.5rem;
}

.part-three h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #77ff02;
}

.part-three p{
    margin-bottom: 2rem;
    color: #f3f3f3;
}

.topics h2{
    margin: 2rem 0rem 2rem 0rem;
}

.topics iframe{
    margin-bottom: 4rem;
}

.topics ul{
    list-style-type: circle;
    color: white;
    margin:0.5rem 2rem 2rem;
}

.topics li{
    margin: 5px;
}

.topics .video{
    display: flex;
    justify-content: center;
}


.part-four .blur{
    justify-self: end;
    position: absolute;
    box-shadow: 0 0 1000px 30px #02ff30;
    z-index: -100;
}

.part-four{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.part-four h3{
    text-align: right;
    margin-bottom: 1.5rem;
    color: #f3f3f3;
    font-size: 1rem;
    font-weight: 600;
}

.part-four h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.5rem;
}

.part-four h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #8c06f3;
}

.part-four p{
    margin-bottom: 2rem;
    color: #f3f3f3;
}

.part-five .blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #8105df;
    z-index: -100;
}

.part-five{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.part-five h3{
    margin-bottom: 1.5rem;
    color: #f3f3f3;
    font-size: 1rem;
    font-weight: 600;
}

.part-five h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 2.9rem;
    font-weight: 700;
    line-height: 3.5rem;
}

.part-five h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #77ff02;
}

.part-five p{
    margin-bottom: 2rem;
    color: #f3f3f3;
}

.topics2{
    border: solid 2px white;
    padding: 20px;   
    border-radius: 20px;
    margin-top: 10%;
    margin-bottom: 5%;
    transition: 0.2s ease;
}
.topics2:hover{ 
    box-shadow: 0px 10px 40px -5px #8105df;
    z-index: 102;
}

.topics2 h2{
    margin: 1rem 0rem;
    text-align: center;
}

.topics2 ul{
    color: white;
    list-style:none;
}

.topics2 p {
    margin: 2rem;
}

footer{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 1px solid white;
}

footer .container{
    padding-top: 2%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap:5rem
}

footer .container h3{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}

footer .container a{
    font-weight: 600;
    font-size: medium;
    color: #f3f3f3;
}

footer .container .nav-link{
    width: 100%;
    margin-bottom: 10px;
}

footer .container span{
    max-width: 30px;
    max-height: 30px;
    margin-top: 5rem;
    font-size: 1.75rem;
    color: #fff;
}   

footer .container span a{
    font-family: 'Poppins',sans-serif;
    font-weight: 600;

}

.nav-link :hover{
    transition: 0.2s ease;
    color: #18fe24;
}
